* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Arial", sans-serif;
    background-color: white;
}

header {
    background-color: #f4a261;
    color: white;
    text-align: center;
    padding: 30px 0;
}

.logo-container {
    margin-bottom: 20px;
}

.logo {
    width: 50px;
    cursor: pointer;
}

h1 {
    font-size: 36px;
    margin-top: 20px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.exercise-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

label {
    font-size: 18px;
    margin-bottom: 10px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn {
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.purple {
    background-color: #9161d6;
}

.btn:hover {
    opacity: 0.9;
}
