header.managing {
    background-color: #e0a458;
}

header.heading {
    height: 5rem;
    color: white;
    display: block;
    left: 0;
    max-width: 100%;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1;
}

header.heading section {
    display: flex;
    height: 5rem;
}

.container {
    margin: 0 auto;
    max-width: 112rem;
    padding: 0 2rem;
    position: relative;
    width: 100%;
}

a {
    color: #9b4dca;
    text-decoration: none;
}

header.heading img {
    height: 100%;
}

img {
    max-width: 100%;
    border-style: none;
}

header.heading .exercise-label {
    margin: auto;
    margin-left: 2rem;
}

header.heading .exercise-label a {
    color: white;
}

header.heading .exercise-title,
header.heading .exercise-label a {
    font-weight: bold;
}

main.container {
    margin-top: 5rem;
}

.container {
    margin: 0 auto;
    max-width: 112rem;
    padding: 0 2rem;
    position: relative;
    width: 100%;
}

main {
    display: block;
}

.row .column {
    display: block;
    flex: 1 1 auto;
    margin-left: 0;
    max-width: 100%;
    width: 100%;
}

h1 {
    font-size: 4.6rem;
    line-height: 1.2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
    letter-spacing: -0.1rem;
    margin-bottom: 2rem;
    margin-top: 0;
}

table {
    border-spacing: 0;
    width: 100%;
}

blockquote,
dl,
figure,
form,
ol,
p,
pre,
table,
ul {
    margin-bottom: 2.5rem;
}

table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    unicode-bidi: isolate;
    line-height: normal;
    font-weight: normal;
    font-size: medium;
    font-style: normal;
    color: -internal-quirk-inherit;
    text-align: start;
    border-spacing: 2px;
    border-color: gray;
    white-space: normal;
    font-variant: normal;
}

td:first-child,
th:first-child {
    padding-left: 0;
}

td,
th {
    border-bottom: 0.1rem solid #e1e1e1;
    padding: 1.2rem 1.5rem;
    text-align: left;
}

.button,
button,
dd,
dt,
li {
    margin-bottom: 1rem;
}

.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    background-color: #9b4dca;
    border: 0.1rem solid #9b4dca;
    border-radius: 0.4rem;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 1.1rem;
    font-weight: 700;
    height: 3.8rem;
    letter-spacing: 0.1rem;
    line-height: 3.8rem;
    padding: 0 3rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

fieldset,
input,
select,
textarea {
    margin-bottom: 1.5rem;
}

div.field,
div.actions {
    margin-bottom: 10px;
}

label {
    display: block;
}

label,
legend {
    display: block;
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
textarea,
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 0.1rem solid #d1d1d1;
    border-radius: 0.4rem;
    box-shadow: none;
    box-sizing: inherit;
    height: 3.8rem;
    padding: 0.6rem 1rem;
    width: 100%;
}

div.field,
div.actions {
    margin-bottom: 10px;
}
